<div class="modal post-modal">
	<div class="modal-dialog modal-wide">
		<div class="modal-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-sm-7 col-xs-12">
						<div id="carousel" class="carousel" data-ride="carousel" data-interval="false">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-close"></span></button>
						  <!-- Indicators -->
						  <ol class="carousel-indicators">
						    <li data-target="#carousel" data-slide-to="0" class="active"></li>
						    <li data-target="#carousel" data-slide-to="1"></li>
						    <li data-target="#carousel" data-slide-to="2"></li>
							<li data-target="#carousel" data-slide-to="3"></li>
						  </ol>

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner" role="listbox">
						    <div class="item active">
						      <%= image_tag 'demo/withhearts1-500px.jpg', :data => {:highres => 'images/demo/withhearts1-highres.jpg'}, :class => 'img-responsive' %>
						    </div>
						    <div class="item">
						      <%= image_tag 'demo/withhearts2-500px.jpg', :data => {:highres => 'images/demo/withhearts2-highres.jpg'}, :class => 'img-responsive' %>
						    </div>
						    <div class="item">
						      <%= image_tag 'demo/withhearts3-500px.jpg', :data => {:highres => 'images/demo/withhearts3-highres.jpg'}, :class => 'img-responsive' %>
						    </div>
						    <div class="item">
						      <%= image_tag 'demo/withhearts4-500px.jpg', :data => {:highres => 'images/demo/withhearts4-highres.jpg'}, :class => 'img-responsive' %>
						    </div>
						  </div>

						  <!-- Controls -->
						  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					</div>
					<div class="col-md-4 col-sm-5 hidden-xs">
						<div class="head">
							<div class="media">
							  <a class="media-left" href="#">
								<%= image_tag 'sample-thumbs/2.jpg', :class => 'img-rounded', :width => '50' %>
							  </a>
							  <div class="media-body">
							    <h4 class="media-heading"><a href=""><%= lorem.first_name %> <%= lorem.last_name %></a></h4>
							    <small>3 minutes ago</small>
							  </div>
							</div>
						</div>
						<div class="body">
							<p><%= lorem.paragraph %></p>
						</div>
						<div class="foot">
							<div class="actions clearfix">
								<div class="pull-left">
									<ul class="nav nav-pills">
										<li><a href="">Applaud</a></li>
										<li><a href="">Comment</a></li>
										<li><a class="share-this-post" data-toggle="modal" data-target=".sharePostForm" href="#">Share</a></li>
									</ul>
								</div>
								<div class="pull-right">
									<ul class="nav nav-pills">
										<li><a><i class="fa fa-thumbs-up"></i> 24</a></li>
										<li><a><i class="fa fa-comment"></i> 8</a></li>
										<li><a><i class="fa fa-share"></i> 0</a></li>
									</ul>
								</div>
							</div>
							<div class="comments">
								<% for i in 1..6 %>
								<div class="media">
								  <a class="media-left" href="#">
									<%= image_tag 'sample-thumbs/4.jpg', :class => 'img-circle', :width => '30' %>
								  </a>
								  <div class="media-body">
									<h5><a href=""><%= lorem.first_name %> <%= lorem.last_name %></a> <small>3 minutes ago</small></h5>
								    <p><%= lorem.sentence %></p>
								  </div>
								</div>
								<% end %>
								<form>
									<div class="media">
							  			<a class="media-left" href="#">
										  <%= image_tag 'sample-thumbs/4.jpg', :class => 'img-circle', :width => '30' %>
							  			</a>
										<div class="media-body">
											<textarea class="form-control" placeholder="Add a comment..." rows="1" cols="100"></textarea>
											<input type="submit" class="btn btn-primary" value="Post comment" />
											<a href="" class="btn btn-default">Cancel</a>
										</div>
									</div>
								</form>
							</div>
						</div> <!-- foot -->
					</div> <!-- col-md-3 -->
				</div>
			</div>
		</div>
	</div>
</div>