<div class="shared-post">
	<div class="post">
		<div class="head">
			<div class="media">
			  <div class="media-body">
			    <h4 class="media-heading"><a href=""><%= lorem.first_name %> <%= lorem.last_name %></a> <span>originally shared:</p></h4>
			  </div>
			</div>
		</div>
		<div class="body">
			<p><%= lorem.paragraph %></p>
			<div class="attachments">
				<a href="#" class="photoset-grid-basic" data-layout="13" data-toggle="modal" data-target=".post-modal">
	  			  <%= image_tag 'demo/withhearts1-500px.jpg', :data => {:highres => 'images/demo/withhearts1-highres.jpg'} %>
	  			  <%= image_tag 'demo/withhearts2-500px.jpg', :data => {:highres => 'images/demo/withhearts2-highres.jpg'} %>
	  			  <%= image_tag 'demo/withhearts3-500px.jpg', :data => {:highres => 'images/demo/withhearts3-highres.jpg'} %>
	  			  <%= image_tag 'demo/withhearts4-500px.jpg', :data => {:highres => 'images/demo/withhearts4-highres.jpg'} %>
				</a>
			</div>
		</div>
	</div>
</div>