---
title: What's Happening
layout: user
---

<section class="hidden-xs">
	<div class="container">
		<ul class="nav nav-pills nav-justified newsfeed-navigation">
			<li class="current">
				<a href="">Everything</a>
			</li>
			<li>
				<a href="">Recognitions</a>
			</li>
			<li>
				<a href="">Posts</a>
			</li>
			<li>
				<a href="">Trending</a>
			</li>
		</ul>
	</div>
</section>
<section>
	<div class="container">
		<div class="row post-feed">
			<div class="col-md-6">
				<%= partial "partials/share-post" %>
			</div>
			<div class="col-md-6">
				<%= partial "partials/post" %>
			</div>
			<div class="col-md-6">
				<%= partial "partials/recognition" %>
			</div>
			<div class="col-md-6">
				<%= partial "partials/share-post" %>
			</div>
			<div class="col-md-6">
				<%= partial "partials/post" %>
			</div>
			<div class="col-md-6">
				<%= partial "partials/recognition" %>
			</div>
		</div>
		<a href="" class="show-more btn btn-default btn-block">Show more</a>
	</div>
</section>

<%= partial "partials/share-form" %>
<%= partial "partials/post-modal" %>