---
title: What's Happening
layout: user
---

<section>
	<div class="container">
		<ul class="nav nav-pills nav-justified newsfeed-navigation">
			<li class="current">
				<a href="">Everything</a>
			</li>
			<li>
				<a href="">Recognitions</a>
			</li>
			<li>
				<a href="">Posts</a>
			</li>
			<li>
				<a href="">Trending</a>
			</li>
		</ul>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<% for i in 1..2 %>
				<%= partial "partials/share-post" %>
				<%= partial "partials/post" %>
				<%= partial "partials/recognition" %>
				<% end %>
			</div>
			<div class="col-md-6">
				<% for i in 1..2 %>
				<%= partial "partials/recognition" %>
				<%= partial "partials/post" %>
				<%= partial "partials/post" %>
				<% end %>
			</div>
		</div>
		<a href="" class="show-more btn btn-default btn-block">Show more</a>
	</div>
</section>

<%= partial "partials/share-form" %>