---
title: Ian Delgado
layout: user
---

<div class="alert alert-warning alert-dismissible alert-drawer" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>
<div class="profile-editing-overlay"></div>
<header class="has-cover"> <!-- remove class if no cover photo -->
	
	<div class="editing-cover-overlay"></div>
	<div class="header-photo" style="background: url(images/sample-thumbs/profile-header3.jpg) no-repeat center / cover #fff;"></div> <!-- Remove this if no cover photo -->	
	<div class="dropdown editing-cover-button">
		<a href="" data-toggle="dropdown" class="button"><i class="fa fa-photo"></i> Change Cover</a>
		<ul class="dropdown-menu">
			<li><a href="">Upload photo</a></li>
			<li><a href="">Remove</a></li>
		</ul>
		<input type="file" class="hidden"><!-- Call this when uploading photo -->
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="profile-photo-container">
					<div class="dropdown editing-photo">
						<a href="" data-toggle="dropdown" class="button"><i class="fa fa-camera"></i></a>
						<ul class="dropdown-menu">
							<li><a href="">Upload photo</a></li>
							<li><a href="">Remove</a></li>
						</ul>
						<input type="file" class="hidden"><!-- Call this when uploading photo -->
					</div>
					<%= image_tag 'sample-thumbs/4.jpg', :class => 'img-circle profile-photo', :width => '180' %>
				</div>
				<div class="saved-view">
					<h1>Ian Delgado</h1>
					<p class="lead"> I love nature. I love cats and dogs. I love photography. I love music. I respect life and other person's point of view. I don't judge anyone.</p>
					
					<a href="" class="btn btn-success btn-lg" data-toggle="modal" data-target="#sayThanksForm"><i class="fa fa-pencil"></i> Say Thanks</a>
					<a href="" class="btn btn-default btn-lg"><i class="fa fa-plus-circle"></i> Follow</a>
					
					<a href="javascript:void(0)" class="btn btn-default btn-lg edit-profile"><i class="fa fa-pencil"></i> Edit Profile</a>
				</div>
				<div class="editing-view">
					<input type="text" value="Ian Delgado" class="form-control editing-name" placeholder="Your Name">
					<textarea class="form-control editing-bio" rows="3" cols="40" placeholder="Your Bio">I love nature. I love cats and dogs. I love photography. I love music. I respect life and other person's point of view. I don't judge anyone.</textarea>
					<a href="javascript:void(0)" class="btn btn-primary btn-lg">Save Changes</a>
					<a href="javascript:void(0)" class="btn btn-default btn-lg cancel-editing">Cancel</a>
				</div>
				<ul class="nav nav-pills nav-justified">
					<li class="active">
						<a role="tab" data-toggle="tab" href="#user-recognitions">
							<small>Recognitions</small>
							<span>230k</span>
						</a>
					</li>
					<li>
						<a role="tab" data-toggle="tab" href="#user-posts">
							<small>Posts</small>
							<span>230k</span>
						</a>
					</li>
					<li>
						<a role="tab" data-toggle="tab" href="#user-followers">
							<small>Followers</small>
							<span>230k</span>
						</a>
					</li>
					<li>
						<a role="tab" data-toggle="tab" href="#user-following">
							<small>Following</small>
							<span>230k</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="user-recognitions">
				<!-- Feel free to change the text.
				<p class="empty-feed">Nothing to display here. <a href="">Share something?</a></p>
				-->
				<div class="row post-feed">
					<% for i in 1..2 %>
					<div class="col-md-6">
						<% for i in 1..5 %>
						<%= partial "partials/recognition" %>
						<% end %>
					</div>
					<% end %>
				</div>
				<a href="" class="show-more btn btn-default btn-block">Show more</a>
			</div>
			<div role="tabpanel" class="tab-pane" id="user-posts">
				<div class="row post-feed">
					<% for i in 1..2 %>
					<div class="col-md-6">
						<% for i in 1..5 %>
						<%= partial "partials/post" %>
						<% end %>
					</div>
					<% end %>
				</div>
				<a href="" class="show-more btn btn-default btn-block">Show more</a>
			</div>
			<div role="tabpanel" class="tab-pane" id="user-followers">
				<div class="row">
					<% for i in 1..11 %>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<%= partial "partials/profile-widget-1" %>
					</div>
					<% end %>
				</div>
				<a href="" class="show-more btn btn-default btn-block">Show more</a>
			</div>
			<div role="tabpanel" class="tab-pane" id="user-following">
				<div class="row">
					<% for i in 1..7 %>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<%= partial "partials/profile-widget-1" %>
					</div>
					<% end %>
				</div>
				<a href="" class="show-more btn btn-default btn-block">Show more</a>
			</div>
		</div> <!-- tab-content -->
	</div>
</section>
<!-- Modal -->
<div class="modal fade" id="sayThanksForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">Skip - View Ian's Profile</button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-pencil"></i> Say thanks to Ian!</h4>
      </div>
      <div class="modal-body">
		  <form>
			  <div role="alert" class="alert alert-danger">
			    <strong>Oh snap!</strong> Change a few things up and try submitting again.
			  </div>
		  	  <div class="form-group">
		  	      <textarea class="form-control" rows="3" placeholder="What are you thankful for?"></textarea>
				  <div class="attached-photos" style="display:none;">
					  <% for i in 1..4 %>
					  <div class="photo">
						<%= image_tag 'demo/nyc1-500px.jpg' %>
						<a href=""><i class="fa fa-times-circle-o"></i> Remove</a>
					  </div>
					  <% end %>
				  </div>
				  <div class="attached-video" style="display:none;">
					  <div class="input-group">
					    <span class="input-group-addon"><i class="fa fa-youtube"></i></span>
					    <input type="text" class="form-control" placeholder="Enter Youtube Video Link">
					  </div>
					  <a class="remove-video" href=""><i class="fa fa-times-circle-o"></i> Remove</a>
				  </div>
				  </ul>
				  <ul class="attachments nav nav-pills nav-justified">
				  	<li><a href=""><i class="fa fa-camera"></i> Add Photos</a></li>
					<li><a href=""><i class="fa fa-youtube"></i> Add a Video</a></li>
				  </ul>
		  	  </div>
			  <button type="submit" class="btn btn-success btn-block">Post</button>
		  </form>
      </div>
    </div>
  </div>
</div>
<%= partial "partials/post-modal" %>