---
title: Ian Delgado
layout: user
---

<header>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<%= image_tag 'sample-thumbs/2.jpg', :class => 'img-circle', :width => '180' %>
				<h1>Ian Delgado</h1>
				<p class="lead"> I love nature. I love cats and dogs. I love photography. I love music. I respect life and other person's point of view. I don't judge anyone.</p>
				<a href="" class="btn btn-success btn-lg" data-toggle="modal" data-target="#sayThanksForm"><i class="fa fa-pencil"></i> Say Thanks</a>
				<a href="" class="btn btn-default btn-lg"><i class="fa fa-plus-circle"></i> Follow</a>
				<ul class="nav nav-pills nav-justified">
					<li class="active">
						<a role="tab" data-toggle="tab" href="#user-recognitions">
							<small>Recognitions</small>
							<span>230k</span>
						</a>
					</li>
					<li>
						<a role="tab" data-toggle="tab" href="#user-posts">
							<small>Posts</small>
							<span>230k</span>
						</a>
					</li>
					<li>
						<a role="tab" data-toggle="tab" href="#user-followers">
							<small>Followers</small>
							<span>230k</span>
						</a>
					</li>
					<li>
						<a role="tab" data-toggle="tab" href="#user-following">
							<small>Following</small>
							<span>230k</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="user-recognitions">
				<div class="row">
					<% for i in 1..2 %>
					<div class="col-md-6">
						<% for i in 1..5 %>
						<%= partial "partials/recognition" %>
						<% end %>
					</div>
					<% end %>
				</div>
				<a href="" class="show-more btn btn-default btn-block">Show more</a>
			</div>
			<div role="tabpanel" class="tab-pane active" id="user-posts">
				<div class="row">
					<% for i in 1..2 %>
					<div class="col-md-6">
						<% for i in 1..5 %>
						<%= partial "partials/post" %>
						<% end %>
					</div>
					<% end %>
				</div>
				<a href="" class="show-more btn btn-default btn-block">Show more</a>
			</div>
			<div role="tabpanel" class="tab-pane active" id="user-followers">
				<% for i in 1..5 %>
				<div class="row">
					<% for i in 1..4 %>
					<div class="col-md-3">
						<%= partial "partials/profile-widget-1" %>
					</div>
					<% end %>
				</div>
				<% end %>
				<a href="" class="show-more btn btn-default btn-block">Show more</a>
			</div>
			<div role="tabpanel" class="tab-pane active" id="user-following">
				<% for i in 1..5 %>
				<div class="row">
					<% for i in 1..4 %>
					<div class="col-md-3">
						<%= partial "partials/profile-widget-1" %>
					</div>
					<% end %>
				</div>
				<% end %>
				<a href="" class="show-more btn btn-default btn-block">Show more</a>
			</div>
		</div> <!-- tab-content -->
	</div>
</section>
<!-- Modal -->
<div class="modal fade" id="sayThanksForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">Skip - View Ian's Profile</button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-pencil"></i> Say thanks to Ian!</h4>
      </div>
      <div class="modal-body">
		  <form>
		  	  <div class="form-group">
		  	      <textarea class="form-control" rows="3" placeholder="What are you thankful for?"></textarea>
				  <div class="attached-photos" style="display:none;">
					  <% for i in 1..4 %>
					  <div class="photo">
						<%= image_tag 'demo/nyc1-500px.jpg' %>
						<a href=""><i class="fa fa-times-circle-o"></i> Remove</a>
					  </div>
					  <% end %>
				  </div>
				  <div class="attached-video" style="display:none;">
					  <div class="input-group">
					    <span class="input-group-addon"><i class="fa fa-youtube"></i></span>
					    <input type="text" class="form-control" placeholder="Enter Youtube Video Link">
					  </div>
					  <a class="remove-video" href=""><i class="fa fa-times-circle-o"></i> Remove</a>
				  </div>
				  </ul>
				  <ul class="attachments nav nav-pills nav-justified">
				  	<li><a href=""><i class="fa fa-camera"></i> Add Photos</a></li>
					<li><a href=""><i class="fa fa-youtube"></i> Add a Video</a></li>
				  </ul>
		  	  </div>
			  <button type="submit" class="btn btn-success btn-block">Post</button>
		  </form>
      </div>
    </div>
  </div>
</div>